<div class="content_wrapper">

    <div class="about-section">
        <div>
            <div class="h1">{{ sk['about-section'] }}</div>
            <div class="txt" *ngFor="let txt of sk['about-section-txt']">{{ txt }}</div>
        </div>
    </div>

    <div class="products-section">
        <div class="pdfs">
            <div class="list">
                <div class="list__category" *ngFor="let categories of list">
                    <div class="list__category_title h1">{{ categories[0].category.name }}</div>
                    <a href="{{ pdf(item.name) }}" target="_blank" class="list__item" *ngFor="let item of categories">
                        <div class="list__item_brand">
                            <div class="h1">{{ item.brand.name }}</div>
                            <div>
                                <img class="img" src="{{ img('Adobe_PDF.svg') }}" alt="PDF" />
                                <div class="txt">{{ item.brand.desc }}</div>
                            </div>
                        </div>
                        <div class="list__item_image">
                            <img class="img" src="{{ img('img.png') }}" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!aboutSection" class="contact-section">
        <div>
            <div class="contact">
                <div class="contact_wrapper">
                    <div class="flex"></div>
                    <div>
                        <div class="h1">{{ sk['contact-section'] }}</div>
                    </div>
                    <div class="flex"></div>
                </div>
            </div>
            <div class="contact">
                <div class="contact_txt">
                    <div class="flex"></div>

                    <div *ngFor="let txts of sk['contact-section-txts']">
                        <div class="txt" *ngFor="let txt of txts">{{ txt }}</div>
                    </div>

                    <div class="flex"></div>
                </div>
            </div>
        </div>
    </div>

</div>
