<div class="content_wrapper">

    <div class="about-section">
        <div>
            <div class="h1">{{ sk['about-section'] }}</div>
            <div class="txt" *ngFor="let txt of sk['about-section-txt']">{{ txt }}</div>
        </div>
    </div>

    <div class="pdfs-section">
        <div class="block-1">
            <div class="flex-3">
                <img class="item" src="{{ img(pdfs[0].id) }}" alt="{{ pdfs[0].id }}" />
                <img class="item" src="{{ img(pdfs[9].id) }}" alt="{{ pdfs[9].id }}" />
            </div>
            <div class="flex-2">
                <img class="item" src="{{ img(pdfs[1].id) }}" alt="{{ pdfs[1].id }}" />
            </div>
        </div>
        <div class="block-2">
            <div class="flex-4">
                <img class="item" src="{{ img(pdfs[6].id) }}" alt="{{ pdfs[6].id }}" />
            </div>
            <div class="flex-1">
                <img class="item" src="{{ img(pdfs[7].id) }}" alt="{{ pdfs[7].id }}" />
            </div>
        </div>
        <div class="block-3">
            <div class="flex-3">
                <div class="layout-row">
                    <img class="item" src="{{ img(pdfs[2].id) }}" alt="{{ pdfs[2].id }}" />
                    <img class="item" src="{{ img(pdfs[5].id) }}" alt="{{ pdfs[5].id }}" />
                </div>
                <img class="item" src="{{ img(pdfs[4].id) }}" alt="{{ pdfs[4].id }}" />
            </div>
            <div class="flex-2">
                <img class="item" src="{{ img(pdfs[3].id) }}" alt="{{ pdfs[3].id }}" />
            </div>
        </div>
    </div>

    <div [ngClass]="{'visible': !aboutSection}" class="contact-section">
        <div>
            <div class="contact">
                <div class="contact_wrapper">
                    <div class="h1">{{ sk['contact-section'] }}</div>
                </div>
            </div>
            <div class="contact">
                <div class="contact_txt">
                    <div class="contact_txt-list" *ngFor="let txts of sk['contact-section-txts']">
                        <a href="{{ txts['link'] }}" target="_blank">
                            <img class="img" src="{{ img(txts['icon']) }}" alt="Icon" />
                        </a>
                        <div>
                            <div class="txt" *ngFor="let txt of txts['txt']">{{ txt }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
