<div class="content_wrapper">

    <div class="about-section">
        <div>
            <div class="h1">{{ sk['about-section'] }}</div>
            <div class="txt" *ngFor="let txt of sk['about-section-txt']">{{ txt }}</div>
        </div>
    </div>

    <div class="products-section">
        <div class="pdfs">

            <div class="layout-row">
                <div class="flex-3">
                    <img class="img-{{pdfs[0].id[0]}}" src="{{ img(pdfs[0].id) }}" alt="{{ pdfs[0].id }}" />
                    <img class="img-{{pdfs[9].id[0]}}" src="{{ img(pdfs[9].id) }}" alt="{{ pdfs[9].id }}" />
                </div>
                <img class="flex-2 img-{{pdfs[1].id[0]}}" src="{{ img(pdfs[1].id) }}" alt="{{ pdfs[1].id }}" />
            </div>

            <div>
                <div class="layout-row">
                    <img class="flex-4 img-{{pdfs[6].id[0]}}" src="{{ img(pdfs[6].id) }}" alt="{{ pdfs[6].id }}" />
                    <img class="flex-1 img-{{pdfs[7].id[0]}}" src="{{ img(pdfs[7].id) }}" alt="{{ pdfs[7].id }}" />
                </div>
                <div class="layout-row">
                    <div class="flex-3">
                        <div class="layout-row">
                            <img class="flex-1 img-{{pdfs[2].id[0]}}" src="{{ img(pdfs[2].id) }}" alt="{{ pdfs[2].id }}" />
                            <img class="flex-2 img-{{pdfs[5].id[0]}}" src="{{ img(pdfs[5].id) }}" alt="{{ pdfs[5].id }}" />
                        </div>
                        <img class="img-{{pdfs[4].id[0]}}" src="{{ img(pdfs[4].id) }}" alt="{{ pdfs[4].id }}" />
                    </div>
                    <img class="flex-2 img-{{pdfs[3].id[0]}}" src="{{ img(pdfs[3].id) }}" alt="{{ pdfs[3].id }}" />
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="!aboutSection" class="contact-section">
        <div>
            <div class="contact">
                <div class="contact_wrapper">
                    <div class="h1">{{ sk['contact-section'] }}</div>
                </div>
            </div>
            <div class="contact">
                <div class="contact_txt">
                    <div class="contact_txt-list" *ngFor="let txts of sk['contact-section-txts']">
                        <a href="{{ txts['link'] }}" target="_blank">
                            <img class="img" src="{{ img(txts['icon']) }}" alt="Icon" />
                        </a>
                        <div>
                            <div class="txt" *ngFor="let txt of txts['txt']">{{ txt }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
