<div class="content_wrapper">

    <div class="about-section">
        <div>
            <div class="h1">{{ main.lang['about-section'] }}</div>
            <div class="txt" *ngFor="let row of main.lang['about-section-txt']">{{ row }}</div>
        </div>
    </div>

    <app-items [section]="section.items"></app-items>

    <div [ngClass]="{'visible': section.contact}" class="contact-section">
        <div>
            <div class="contact">
                <div class="contact_wrapper">
                    <div class="h1">{{ main.lang['contact-section'] }}</div>
                </div>
            </div>
            <div class="contact">
                <div class="contact_txt">
                    <div class="contact_txt-list" *ngFor="let rows of main.lang['contact-section-txts']">
                        <a href="{{ rows['link'] }}" target="_blank">
                            <img *ngIf="section.items" class="img" src="{{ main.assets.images + rows['icon'] }}" alt="Icon" />
                        </a>
                        <div>
                            <div class="txt" *ngFor="let txt of rows['txt']">{{ txt }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
