.content_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;

    .h1 {
        font-family: 'Raleway SemiBold';
        margin: 10px 0;
        font-size: 32px;
        color: #000;
    }
    .txt {
        font-family: 'Raleway';
        padding: 10px 0;
        font-size: 24px;
        color: #000;
    }
    .flex {
        flex: 1;
    }
    .space {
        padding: 10px;
    }
    .visible {
        visibility: visible;
    }
    .p-top_50 {
        padding-top: 50px;
    }
    .p-bottom_50 {
        padding-bottom: 50px;
    }
}

.about-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #eee;
    overflow: hidden;
    padding-top: 25px;

    > div {
        margin: auto;
        max-width: 1024px;
    }
    .h1 {
        font-size: 44px;
        padding: 20px 100px;
    }
    .txt {
        padding: 10px 100px;
    }
}

.contact-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #eee;
    visibility: hidden;
    overflow: hidden;

    .center {
        padding-top: 25px;
    }
    .contact {
        display: flex;
        position: relative;

        &_wrapper {
            display: flex;
            margin: 0 auto;

            .h1 {
                font-size: 32px;
                margin: 0 auto;
                text-align: center;
                padding: 20px 0;
            }
        }
        &_txt {
            margin: 0 auto;
            display: block;
            max-width: 1024px;

            &-list {
                position: relative;
                display: flex;
                padding: 20px 0;

                > div {
                    position: relative;
                    display: block;
                    margin: auto;
                }
            }
            .txt {
                font-family: 'Raleway SemiBold';
                padding: 5px;
                margin: 0 auto;
                font-size: 18px;
            }
            a {
                display: block;
            }
            .img {
                position: relative;
                width: 128px;
                height: 128px;
                margin-right: 20px;
            }
        }
    }
}

app-items {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #eee;
    z-index: 50;
    overflow: hidden;
    margin: 50px 0;
}

@media screen and (min-width: 1600px) {
    .about-section {

        > div {
            max-width: 1600px;
            margin: auto;
        }
        .h1 {
            font-size: 64px;
            padding: 40px 100px;
        }
        .txt {
            font-size: 32px;
            padding: 10px 100px;
        }
    }
    .contact-section {

        .contact {

            .h1 {
                font-size: 48px;
                padding: 50px 0;
            }
            &_txt {
                max-width: 1600px;
                display: flex;

                &-list {
                    padding: 50px;
                }
                .txt {
                    font-size: 24px;
                }
                a {
                    display: flex;
                }
                .img {
                    margin: auto 20px auto 0;
                    position: relative;
                    width: 128px;
                    height: 128px;
                }
            }
        }

    }
}

@media screen and (max-width: 1024px) {
    .about-section {
        overflow: hidden;

        > div {
            max-width: 320px;
            margin: auto;
            overflow: hidden;
        }
        .h1 {
            text-align: center;
            font-size: 24px;
            padding: 10px;
        }
        .txt {
            text-align: center;
            line-height: 125%;
            font-size: 16px;
            padding: 10px;
        }
    }
    .contact-section {
        overflow: hidden;

        .contact {
            max-width: 320px;
            overflow: hidden;
        }
        .h1 {
            padding: 5px 0;
            font-size: 18px;
        }
        .contact_txt {
            &-list {
                padding: 10px 0;
            }
            .txt {
                font-size: 16px;
            }
            a {
                display: flex;
            }
            .img {
                margin: auto 20px auto 0;
                position: relative;
                width: 96px;
                height: 96px;
            }
        }
    }
}
