@import url("variables");

.main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: ~"calc(100% + 100px)"; // TODO: on large display don't require SCROLL!
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: ~"calc(50% - 100px)";
    z-index: 100;

    &_wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background: @white;

        .img {
            width: 100%;
            height: auto;
            margin: auto 0;
        }
    }
    &_after {
        display: block;
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent; // js (on-resize)
        border-top: 51px solid @white;
        cursor: pointer;
        transition: all 100ms ease-out;

        > div {
            position: absolute;
            left: 10px;
            bottom: 20px;
            text-transform: uppercase;
            color: @white;
        }
    }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px; // js (on-resize)

    &_scroll {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: @dark;
        display: flex;
        cursor: pointer;

        > div {
            text-transform: uppercase;
            margin: auto;
            color: @dark-white;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: ~"calc(50% - 100px)";
    background: @dark;

    &_wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        font-family: 'Railway SemiBold';
        background: @white;
    }
    &_before {
        display: block;
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 0 solid transparent; // js (on-resize)
        border-right: 0 solid transparent;
        border-bottom: 51px solid @white;
        cursor: pointer;
        transition: all 100ms ease-out;

        > div {
            position: absolute;
            color: @white;
            top: 20px;
            right: 10px;
            text-transform: uppercase;
        }
    }
    &_txt {
        position: relative;
        margin: auto;
        padding-left: 30px;
        font-size: 28px;
        color: @blue;

        > div {
            position: relative;
            padding: 10px;
            display: flex;

            > div {
                width: 10px;
                background: @red;
                height: 10px;
                margin: auto 20px auto 0;
            }
        }
    }
}

.border-top_dark {
    border-top: 51px solid @dark;
}

.border-bottom_dark {
    border-bottom: 51px solid @dark;
}

@media screen and (max-width: 768px) {
    .footer {
        &_txt {
            font-size: 18px;
            > div {
                padding: 5px;
                > div {
                    width: 5px;
                    height: 5px;
                    margin: auto 10px auto 0;
                }
            }
        }
    }
}
