@import url("../../assets/css/variables");

.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: @white;
}

.link {
    margin: 0 10px;
    text-align: left;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding: 50px;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}

.layout-row {
    display: flex;
}

.flex {
    flex: 1;
}
