@import url("../../assets/css/variables");

.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: @white;
}

.layout-row {
    display: flex;
}

.layout-center {
    margin: 10px auto;
}
