<div class="item" *ngIf="item.pdfs.length > 0">

    <div class="img">
        <img src="{{ section ? (assets.images + item.id) : '#' }}"
             alt="{{ item.id }}"
             width="{{ size(w) }}"
             height="{{ size(h) }}"
        />
    </div>

    <div class="desc" *ngIf="item.pdfs.length === 1 && item.pdfs[0].id.length === 0">

        <div class="row" style="height: 100%">

            <div class="center">
                <div class="desc__title">{{ item.title }}</div>
                <div class="row">
                    <div class="center" style="text-align: center" *ngIf="item.pdfs[0].desc.length > 0 && item.pdfs[0].desc !== ' '">{{ item.pdfs[0].desc }}</div>
                </div>
            </div>

        </div>

    </div>

    <a class="desc" *ngIf="item.pdfs.length === 1 && item.pdfs[0].id.length > 0" href="{{ assets.pdfs + item.pdfs[0].id + '.pdf' }}" target="_blank">

        <div class="row" style="height: 100%">

            <div class="center">
                <div class="desc__title">{{ item.title }}</div>
                <div class="row">
                    <div class="center row">
                        <div class="center" style="text-align: center" *ngIf="item.pdfs[0].desc.length > 0 && item.pdfs[0].desc !== ' '">{{ item.pdfs[0].desc }}</div>
                        <img class="center" *ngIf="item.pdfs[0].id.length > 0" src="{{ section ? (assets.images + 'pdf.svg') : '#' }}" alt="PDF" width="48" height="48" />
                    </div>
                </div>

            </div>

        </div>

    </a>

    <div class="desc" *ngIf="item.pdfs.length > 1">

        <div class="row" style="height: 100%">
            <div class="center">
                <div class="desc__title">{{ item.title }}</div>
                <div class="desc__pdf">

                    <div class="desc__pdf_txt" *ngFor="let pdf of item.pdfs">

                        <div *ngIf="pdf.desc.length > 0 && pdf.desc !== ' '">{{ pdf.desc }}</div>

                        <a *ngIf="pdf.id.length > 0" href="{{ assets.pdfs + pdf.id + '.pdf' }}" target="_blank">
                            <img src="{{ section ? (assets.images + 'pdf.svg') : '#' }}" alt="PDF" width="48" height="48" />
                        </a>

                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
