.item {
    position: relative;
    display: inherit;

    .img {
        position: relative;
        display: inherit;

        img {
            position: relative;
        }
    }
    .block {
        display: block;
    }
    .desc {
        z-index: 52;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        color: transparent;
        transition: all 200ms ease-in-out;
        overflow: hidden;

        img {
            -ms-transform: scale(0, 0);
            -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
            transition: all 200ms ease-in-out;
            transition-delay: 100ms;
        }
        &__title {
            font-size: 24px;
            text-transform: uppercase;
            padding: 20px 0;
            text-align: center;
        }
        &__pdf {
            flex: 1;

            &_txt {
                display: inline;

                div {
                    padding: 10px;
                }
                span {
                    padding: 20px;
                }
                a {
                    padding: 20px;
                    color: inherit;
                }
            }
        }
    }
    &::after {
        z-index: 51;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.5);
        transition: all 300ms ease-in-out;
        transition-delay: 100ms;
    }
    &:hover {
        .desc {
            color: #eee;
            background: #333;
            img {
                -ms-transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
        &::after {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    &:active {
        .desc {
            color: #eee;
            background: #333;
            img {
                -ms-transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
        &::after {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 960px) {
    .item {
        .desc {
            &__title {
                font-size: 18px;
                padding: 10px 0;
            }
            &__pdf {
                &_txt {
                    div {
                        padding: 5px;
                    }
                    span {
                        font-size: 13px;
                        padding: 10px;
                    }
                    a {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .item {
        position: relative;

        .img {
            display: flex;

            img {
                margin: 0 auto;
            }
        }

        .desc {
            z-index: 52;
            position: relative;
            background: #333;
            color: #eee;
            padding: 10px;

            img {
                -ms-transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            &__title {
                font-size: 16px;
                padding: 30px;
            }
            &__pdf {
                &_txt {
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
        &:hover {
            &::after {
                -webkit-box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
                box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
            }
        }
        &:active {
            &::after {
                -webkit-box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
                box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
            }
        }
    }
}
