@import url("../../../assets/css/variables");

.products {
    // margin: 20px;
    // overflow-y: hidden;
    color: @dark;
    width: 100%;
    height: 100%;
    display: flex;
}

.uil-ring-css {
    width: 100px;
    height: 100px;
}
.uil-ring-css > div {
    width: 60px;
    height: 60px;
}
