.items {
    position: relative;
}

app-item {
    position: relative;
    display: inherit;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

//@media screen and (max-width: 768px) {
//    .row {
//        display: block;
//    }
//    .col {
//        display: block;
//    }
//}
